{% extends "personal/index.html"%}

{% block content %}
<div id="contact" class="container text-center">
  <p>Say hello, </p>
  <div class="social">
  	<a target="_blank" href="mailto:bkarki@caldwell.edu"><i class="fa fa-envelope fa-2x"></i></a>
    <a target="_blank" href="https://facebook.com/b.gyankarki"><i class="fa fa-facebook fa-2x"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/bigyankarki"><i class="fa fa-linkedin fa-2x"></i></a>
    <a target="_blank" href="https://github.com/bigyankarki"><i class="fa fa-github-alt fa-2x"></i></a>
  </div>
</div>
{% endblock %}
